<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="lacargbal9222"/>
    <add key="ReportFolder" value="C:\Documents and Settings\gp61950\My Documents\Proyectos\SuperDepo\SuperDepo\Reportes"/>
    <!--
    <add key="Server" value="PANDORA"/>
    <add key="ReportFolder" value="D:\Trabajos\SuperDepo\SuperDepo\SuperDepo\Reportes"/>
    -->
  </appSettings>
  <connectionStrings>
    <!--<add name="SuperDepo" connectionString="data source=[SERVER]\SQLEXPRESS; initial catalog=SuperDepo;Integrated Security=SSPI;"
      providerName="System.Data.SqlClient" />-->
    <add name="SuperDepo" connectionString="data source=[SERVER]\SQLEXPRESS; initial catalog=SuperDepo; Trusted_Connection = True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>